<div>
  <!-- MAIN -->
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Novo Mapa</h1>

    </div><!-- End Page Title -->

    <section class="section contact">

      <div class="row gy-4">

        <div class="col-xl-12">
          <div class="card p-4">
            <form action="forms/contact.php" method="post" class="php-email-form">
              <div class="row gy-4"> 

                  <div class=" " id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    
                    <div class="form-floating mb-3">
                      <select class="form-select" id="fonteSelect" aria-label="Floating label select example">
                        <option> </option>
                        <option>Panguila</option>
                        <option>Maye Maye</option>
                        <option>Zango 0</option>
                        <option>Zango 1</option>
                        <option>Zango 2</option>
                        <option>Zango 3</option>
                        <option>Zango 4</option> 
                      </select>
                      <label for="fonteSelect">Selecionar Projecto </label>
                    </div>

                    <div class="row mb-3">
                      <label for="formFile" class="col-sm-2 col-form-label">Carregar foto</label>
                      <div class="col-sm-10">
                        <input class="form-control" type="file" id="formFile">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="plantaFile" class="col-sm-2 col-form-label">Carregar planta de loteamento</label>
                      <div class="col-sm-10">
                        <input class="form-control" type="file" id="plantaFile">
                      </div>
                    </div>
 
                  </div> 

                <div class="col-md-12 text-center">
                  <button type="submit">Salvar</button>
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>

    </section>

  </main>

</div>