<div>

  <main id="main" class="main">
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Novo usuário</h5>

                  </div>

                  <form class="row g-3 needs-validation" novalidate>
                    <div class="col-12">
                      <label for="yourName" class="form-label">Nome</label>
                      <input type="text" name="name" class="form-control" id="yourName" required>
                      <div class="invalid-feedback">Este campo não deve estar vazio</div>
                    </div>

                    <div class="col-12">
                      <label for="yourName" class="form-label">Sobrenome</label>
                      <input type="text" name="name" class="form-control" id="yourName" required>
                      <div class="invalid-feedback">Este campo não deve estar vazio</div>
                    </div>

                    <div class="col-12">
                      <label for="yourEmail" class="form-label">Email</label>
                      <input type="email" name="email" class="form-control" id="yourEmail" required>
                      <div class="invalid-feedback">Por favor inserir um email válido</div>
                    </div>



                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Senha</label>
                      <input type="password" name="password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Por favor insira a senha</div>
                    </div>


                    <div class="col-sm-12">
                      <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                          <option selected>Brigadista</option>
                          <option>Técnico IGCA</option>
                          <option>Administrador</option>

                        </select>
                        <label for="floatingSelect">Cargo</label>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourName" class="form-label">Telefone</label>
                      <input type="text" name="name" class="form-control" id="yourName" required>
                      <div class="invalid-feedback">Este campo não deve estar vazio</div>
                    </div>



                    <div class="col-sm-12">
                      <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                          <option selected>Luanda</option>
                          <option>Bengo</option>
                          <option>Benguela</option>
                          <option>Bié</option>
                          <option>Cabinda</option>
                          <option>Cunene</option>
                          <option>Huambo</option>
                          <option>Huíla</option>
                          <option>Kuando-Kubango</option>
                          <option>Kwanza-Sul</option>
                          <option>Kwanza-Norte</option>
                          <option>Lunda-Norte</option>
                          <option>Lunda-Sul</option>
                          <option>Malanje</option>
                          <option>Moxico</option>
                          <option>Namibe</option>
                          <option>Uíge</option>
                          <option>Zaire</option>
                        </select>
                        <label for="floatingSelect">Província</label>
                      </div>
                    </div>




                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Cadastrar</button>
                    </div>

                  </form>

                </div>
              </div>


            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

</div>